<h1>Welcome to your Dashboard</h1>
<p>Hello, <%= current_user.email %>!</p>
<p>Organization: <%= current_user.organization.name %></p>

<% if current_user&.needs_parental_consent_popup? %>
<%= render 'shared/parental_consent_popup', consent_type: 0 %>
<% end %>

<% current_user.parental_consents.pending.space_join.each do |consent| %>
<%= render "shared/parental_consent_popup", consent_type: 1, space_id: consent.space_id %>
<% end %>
<h2>All Spaces in Your Organization</h2>



<% if current_user.is_active? %>
<% if @spaces.any? %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Required Age Group</th>
    <th>Creator</th>
    <th>Actions</th>
  </tr>
  <% @spaces.each do |space| %>
  <tr>
    <td><%= space.name %></td>
    <td><%= space.description %></td>
    <td><%= space.required_age_group&.name || "None" %></td>
    <td><%= space.creator.email %></td>
    <td>
      <%= link_to "View", space_path(space) %>
      <% if space.creator == current_user %>
      | <%= link_to "Edit", edit_space_path(space) %>
      | <%= button_to "Delete", space_path(space), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
      <% unless current_user.joined_spaces.include?(space) %>
      | <%= button_to "Join", join_space_path(space), method: :post %>
      <% else %>
      | Joined
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>No spaces have been created yet in your organization.</p>
<% end %>
<% else %>
<p>Your account is inactive. Please contact your admin.</p>
<% end %>