<h1 class="admin-spaces-title">Manage Spaces</h1>

<p class="admin-spaces-new-link">
  <%= link_to "Create New Space", new_admin_space_path, class: "admin-spaces-create-link" %>
</p>

<table class="admin-spaces-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Required Age Group</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @spaces.each do |space| %>
    <tr>
      <td><%= space.name %></td>
      <td><%= space.description %></td>
      <td><%= space.required_age_group&.name || "None" %></td>
      <td class="admin-spaces-actions">
        <%= link_to "Edit", edit_admin_space_path(space), class: "admin-spaces-action-link" %> |
        <%= button_to "Delete", admin_space_path(space), method: :delete, data: { confirm: "Are you sure?" }, class: "admin-spaces-delete-button" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>