<h1 class="all-spaces-title">All Spaces</h1>

<% if policy(Space).new? %>
<div class="all-spaces-new-button">
  <%= link_to "New Space", new_space_path, class: "all-spaces-create-link" %>
</div>
<% end %>

<table class="all-spaces-table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Age Group</th>
    <th>Creator</th>
    <th>Actions</th>
  </tr>
  <% @spaces.each do |space| %>
  <tr>
    <td><%= space.name %></td>
    <td><%= space.description %></td>
    <td><%= space.required_age_group&.name %></td>
    <td><%= space.creator.email %></td>
    <td>
      <%= link_to "Show", space_path(space), class: "all-spaces-action-link" %>
      <% if space.creator == current_user %>
      | <%= link_to "Edit", edit_space_path(space), class: "all-spaces-action-link" %>
      | <%= button_to "Delete", space_path(space), method: :delete, data: { confirm: "Are you sure?" }, class: "all-spaces-button" %>
      <% end %>
      <% unless current_user.joined_spaces.include?(space) %>
      | <%= button_to "Join", join_space_path(space), method: :post, class: "all-spaces-join-button" %>
      <% else %>
      | <span class="all-spaces-joined">Joined</span>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>