<h1>All Spaces</h1>

<% if current_user.is_active? %>
<%= link_to "New Space", new_space_path %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Age Group</th>
    <th>Creator</th>
    <th>Actions</th>
  </tr>
  <% @spaces.each do |space| %>
  <tr>
    <td><%= space.name %></td>
    <td><%= space.description %></td>
    <td><%= space.required_age_group&.name %></td>
    <td><%= space.creator.email %></td>
    <td>
      <%= link_to "Show", space_path(space) %>
      <% if space.creator == current_user %>
      | <%= link_to "Edit", edit_space_path(space) %>
      | <%= link_to "Delete", space_path(space), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
      |
      <% unless current_user.joined_spaces.include?(space) %>
      | <%= button_to "Join", join_space_path(space), method: :post %>
      <% else %>
      | Joined
      <% end %>
    </td>
  </tr>
  <% end %>
</table>