<header class="app-header">
  <nav class="navbar">
    <div class="nav-left">
      <%= link_to "Home", root_path, class: "nav-link-brand" %>
    </div>

    <div class="nav-right">
      <% if current_user %>
      <% if current_user.admin? %>
      <span class="nav-item">
        <%= link_to "Admin Dashboard", admin_dashboard_path, class: "nav-link" %>
      </span>
      <span class="nav-item">
        <%= link_to "Manage Users", admin_users_path, class: "nav-link" %>
      </span>
      <span class="nav-item">
        <%= link_to "Manage Spaces", admin_spaces_path, class: "nav-link" %>
      </span>
      <% end %>

      <span class="nav-item">
        <%= link_to "Spaces", spaces_path, class: "nav-link" %>
      </span>

      <span class="nav-item nav-user-email">
        Logged in as <%= current_user.email %>
      </span>

      <span class="nav-item">
        <%= button_to "Logout", logout_path, method: :delete, form_class: "inline-form" %>
      </span>
      <% else %>
      <span class="nav-item">
        <%= link_to "Login", login_path, class: "nav-link" %>
      </span>
      <span class="nav-item">
        <%= link_to "Sign Up", signup_path, class: "nav-link" %>
      </span>
      <% end %>
    </div>
  </nav>
</header>