<h1>Edit User Role</h1>

<%= form_with model: [:admin, @user], local: true do |f| %>
  <div>
    <%= f.label :role %><br>
    <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] } %>
  </div>

  <div>
    <%= f.submit "Update Role" %>
  </div>
<% end %>

<%= link_to "Back to Users", admin_users_path %>
