<h1>Create New User</h1>

<%= form_with model: [:admin, @user], local: true do |f| %>
<div>
  <%= f.label :email %><br>
  <%= f.email_field :email %>
</div>

<div>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</div>

<div>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %>
</div>

<div>
  <%= f.label :date_of_birth %><br>
  <%= f.date_field :date_of_birth %>
</div>

<div>
  <%= f.label :role %><br>
  <%= f.select :role, User.roles.keys.reject { |r| r == 'admin' && @user != current_user } %>
</div>

<div>
  <%= f.label :is_active, "Active account" %>
  <%= f.check_box :is_active %>
</div>

<div>
  <%= f.submit "Create User" %>
</div>
<% end %>

<%= link_to "Back to Users", admin_users_path %>